LocalNotification/LocalNotification.Android/obj/
LocalNotification/LocalNotification.iOS/obj/
LocalNotification/LocalNotification/bin/
LocalNotification/LocalNotification/obj/
LocalNotification/LocalNotification.Android/bin/
